In [2]:
from IPython.core.display import display, HTML
display(HTML("<style>.container { width:75% !important; }</style>"))

In [3]:
import sys
import numpy as np
import pandas as pd

sys.path.append('/lfs/1/sahaana/enrichment/ember/utils')
from preprocessing_utils import reindex_deepmatcher, MARCO_1k_BM25

%load_ext autoreload
%autoreload 2

# MS Marco

## Merge and BM25

In [5]:
path = "/lfs/1/sahaana/enrichment/data/MSMARCO/"
merged_col = "merged_all"
separator = "[SEP]"
dataset = 'MARCO'

In [6]:
file = "collection.tsv"
collection = pd.read_csv(f"{path}/{file}",sep='\t', header=None, 
                         index_col=0, names=['PID','Passage'])
collection

/future/u/sahaana/miniconda3/envs/future9_ludwig/lib/python3.8/site-packages/numpy/lib/arraysetops.py:580: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

                                                   Passage
PID
0        The presence of communication amid scientific ...
1        The Manhattan Project and its atomic bomb help...
2        Essay on The Manhattan Project - The Manhattan...
3        The Manhattan Project was the name for a proje...
4        versions of each volume as well as complementa...
...                                                    ...
8841818  When metal salts emit short wavelengths of vis...
8841819  Thousands of people across the United States w...
8841820  The recipe that creates blue, for example, inc...
8841821  On Independence Days of yore, old-timey crowds...
8841822  View full size image. Behind the scenes of the...

[8841823 rows x 1 columns]

In [29]:
file = "queries.train"
queries = pd.read_csv(f"{path}/{file}.tsv",sep='\t',header=None,
                     names=['QID', 'Query'], index_col=0)
queries

                                                  Query
QID
121352                                   define extreme
634306         what does chattel mean on credit history
920825          what was the great leap forward brainly
510633              tattoo fixers how much does it cost
737889                what is decentralization process.
...                                                 ...
633855           what does canada post regulations mean
1059728                         wholesale lularoe price
210839                    how can i watch the day after
908165            what to use instead of pgp in windows
50393    benefits of boiling lemons and drinking juice.

[808731 rows x 1 columns]

In [8]:
file = "top1000.train.txt"
top1000 = pd.read_csv(f"{path}/{file}",sep='\t', header=None, usecols=[0,1], names=['QID', 'PID'])
top1000

              QID      PID
0          965162  1000930
1          279558  1000930
2          279511  1000930
3          279498  1000930
4          739878  1000930
...           ...      ...
478002388  727506   999540
478002389  633883   999540
478002390  898757   999540
478002391  583095   999540
478002392  824165   999540

[478002393 rows x 2 columns]

In [9]:
grouped_queries = top1000.groupby('QID')['PID'].apply(list)

In [17]:
grouped_queries = top1000.groupby('QID')['PID'].apply(list)
grouped_queries = pd.DataFrame(grouped_queries)

In [101]:
pd.to_pickle(grouped_queries, f"{path}/top1000.train.grouped.pkl")

In [189]:
bm25s = MARCO_1k_BM25(corpus_df = collection, 
                      query_df = queries,
                      bm25_1k = f"{path}/top1000.train.grouped.pkl",
                      grouped = True)

  0%|          | 0/501233 [00:00<?, ?it/s]

In [196]:
combined_bm25s = pd.DataFrame(np.hstack([bm25s[0], bm25s[1]]))
combined_bm25s = combined_bm25s.set_index(0)

In [197]:
pd.to_pickle(combined_bm25s, '/lfs/1/sahaana/enrichment/data/Okapi25Queries/MARCO_1k_argsort_indices.pkl')

In [4]:
pd.read_pickle('/lfs/1/sahaana/enrichment/data/Okapi25Queries/MARCO_1k_argsort_indices.pkl')

,1,2,3,4,5,6,7,8,9,10,...,992,993,994,995,996,997,998,999,1000,1001
0,,,,,,,,,,,,,,,,,,,,,
3,-1,3305827,4710431,7472388,3305829,7472384,3305830,3267804,8708593,4937072,...,6810086,3060832,6979294,3172383,5031304,6303931,1142685,6979295,1142682,3938879
4,-1,8297558,8412814,6145200,2121343,7389524,4987684,8267533,7906779,3645740,...,5528798,692880,7029522,4876159,2878039,3483260,2640288,4557675,753177,2499205
5,-1,4651118,6632988,862283,7234816,4919639,4925095,3843862,2758630,6964618,...,2162071,4956433,372423,2672924,4322870,1008848,1008857,7841693,2206805,2162073
6,-1,3625821,3132321,4003845,8758167,8678879,3188798,3188802,1168370,4190315,...,5042221,6937323,6468285,6497426,2063899,4605755,6937322,2063903,1495713,2359698
8,-1,6290676,1267580,1087028,1771174,1771171,6290677,6821664,7708477,4786613,...,975280,975281,8704236,2252437,3686190,2080059,3013032,307190,2412830,8383396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1185863,-1,7485469,2465795,6639668,3971817,4337572,8701346,7676743,7931927,185044,...,629017,2600087,4530475,8654020,4628495,8654023,8654017,1817583,266301,2009361
1185864,-1,489823,2345669,7736948,5774739,4112569,3512081,4717128,4132464,1830010,...,7361462,1267422,2797946,611284,2345672,3001419,7130104,7862761,8191765,7862765
1185865,-1,6784244,7079069,7047871,7673495,6558040,8613128,7631040,7793643,2135665,...,3759152,8591552,5925773,7219780,6811511,5392448,7428387,2780686,2730860,1305705
1185868,-1,5572574,7110225,8333152,3858349,201330,5505480,7055586,2161128,7117120,...,3599633,4872509,6821176,1641655,1641650,3020376,6821175,1641656,13,11
1185869,-1,2688331,2802615,4425898,4193933,8756309,5054631,1040182,4995478,2433937,...,7704783,6347183,3401980,8556659,3401977,1547183,8479507,5117688,3625651,2991345